@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    overflow: hidden;
    /* position: sticky; */
    /* border-bottom: 2px solid #006A4E; */
    -webkit-box-shadow: -10px 6px 6px -5px #000; 
    box-shadow: -10px 6px 6px -5px #000;
    z-index: 999;
    margin: 0px;
}

.left{
    width: 50%;
}
.left img{
    width: 100px;
    height: 40px;
    margin-left: 30px;
    cursor: pointer;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin-right: -92px;
    z-index: 999;
}


.display{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5px;
    cursor: pointer;
}

.right-img{
    width: 20px;
    height: 20px;
    color: #006A4E;
    cursor: pointer;
}

.fa-map-marker-alt, .fa-user{
    color: #006A4E;
    font-size: larger;
    margin:0 5px;
} 

.display p{
    font-weight: bolder;
    color: #006A4E;
    font-size: 19px;
}

.middle-img{
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.middle-img2{
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.cart-board{
    background-color: #006A4E;
    width: 10%;
    height: 100%;
    margin: 0px;
    padding: 2px;
    color: white;
    cursor: pointer;
    /* z-index: 0; */
}

.cart-img{
    width: 30px;
}

.cart-position{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:2px 0; */
    /* margin-bottom: -2px; */
    margin: 0;
}

.cart-amount {
    font-weight: bolder;
    font-size: 20px;
}

.divider{
    width: 70%;
    border: none;
    text-align: center;
    border-bottom: 1px solid #7AB1A3;
}

.cart-currency{
    margin-left: 5px;
    /* font-weight: bolder; */
}


.main-section{
    margin-top: 1px;
    /* padding: 0 10px; */
}

.left-section{
    height: 100vh;
    width: 18%;
    /* border: 1px solid black; */
    display: block;
    scroll-behavior: smooth;
    overflow-y: scroll;
    /* text-align: center; */
    margin: 0px;
}


.left-section::-webkit-scrollbar {
    width: 6px;
 }
  
  /* Track */
  .left-section::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .left-section::-webkit-scrollbar-thumb {
    background: gray; 
    /* border-radius: 50px; */
  }

  .menu{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 20px;
      color: #006a4e;
      cursor: pointer;
      transition: transform 1s;
      margin-bottom: -15px;
      font-size: 15px;
      font-weight: bolder;
  }

  
  .menu:hover{
      transform: translateX(20px);
  }

  .menu-img{
      width: 30px;
      margin-right: 10px;
  }

  .logo-title{
      background-color: #e4e0e0;
      text-align: center;
      font-size: 15px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;
  }

  .explore{
      color: #808087; 
  }

  .shodai{
      color: #006A4E; 
      margin-right: -6px;
  }
  .mama{
      color: #FB6801; 
  }

  .right-section{
      width: 80%;
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

  }

  .category{
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      top: -730px;
      left: 270px;
      padding: 0 15px;
      /* right: -500px; */
      /* border: 1px solid black; */
     -webkit-box-shadow: 0px 0px 3px 0px gray; 
     box-shadow: 0px 0px 3px 0px gray;
  }

  .category-name{
      text-align: center;
      width: 100%;
      cursor: pointer;
  }

  .category-name h3{
    transition: transform 1s;
  }

  .category-name h3:hover{
    transform: translateX(20px);
  }

  #category-fresh, #category-regular{
    border-right: 1px solid gray;
  }


  /* carousel start  */
  .carousel-wrapper {
    height: 450px;
    position: relative;
    width: 100%;
    display: block;
    margin: 0px auto ;
    top: -662px;
    left: 285px;
    right: 0;
   /* border: 2px solid black; */
  }

   
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid gray;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
  }
  .arrow-prev {
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('/images/slider1.png');
    background-size: 100% 100%;
    /* background-size: cover; */
    animation: slider 2s infinite linear;
  }

  @keyframes slider{
    0%{
        background-image: url('/images/slider2.png');
    }
    50%{
        background-image: url('/images/slider5.png');
    }
    100%{
        background-image: url('/images/slider1.jpeg');
    }
}

  .item-2 {
    background: url('/images/slider2.png');
    background-size: 100% 100%;
    /* background-size: cover; */
    animation: slider 20s infinite linear;
  }

 
  .item-3 {
    background: url('/images/slider5.png');
    /* background-size: cover; */
    background-size: 100% 100%;
    animation: slider 20s infinite linear;
  }

    
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 

  .box{
      position: relative;
      top: -662px;
      left: 285px;
      width: 100%;
  }

  .preloader-category-box{
    padding: 15px 0px;
    margin-top: 30px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #313131;
  }

  .custom-border{
    border: 0px solid #44BD32;
    border-radius: 10px;
    width: 1%;
    height: 80px;
    background-color: #44BD32;
    /* margin: auto 0px; */
    /* padding: 20px 10px; */
  }

  .category-information{
      width: 99%;
      margin-left: 30px;
      line-height: 5px;
  }

  .category-information h3{
      font-size: 25px;
      font-weight: 600;
  }

  .category-information p{
      font-size: 18px;
      font-weight: 400;
  }

  /* card start  */
  .card{
      margin: 20px 0px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 25px;
  }
  .card-item{
      width: 280px;
      /* border: 1px solid black; */
      text-align: center;
      box-shadow: 0px 1px 4px 1px rgba(105,96,96,0.56);
      -webkit-box-shadow: 0px 1px 4px 1px rgba(105,96,96,0.56);
      -moz-box-shadow: 0px 1px 4px 1px rgba(105,96,96,0.56);
      border-radius: 3px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      /* margin: 10px 0px; */
  }

  .card-img{
      width: 90%;
      cursor: pointer;
      transition: transform 1s linear;
      border: none;
  }

  .card-img:hover{
      transform: scale(1.1);
  }

  .card-body{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 10px;
  }

  .card-body p{
      font-size: 16px;
      font-weight: 500;
      color: #615e58;
  }

  .card-img-fresh{
      width: 50%;
      margin: 5px 0px;
      transition: transform 1s linear;
      border: none;
  }

  .card-img-fresh:hover{
      transform: scale(1.1);
  }

  .category-title{
      background-color: #44BD32;
      color: white;
      padding: 3px 8px;
      border-radius: 3px;
      position: absolute;
      top: 10px;
  }

  .card-item h6{
      margin: 0px;
      font-size: 20px;
      line-height: 25px;
      color:#1a1a1a;
      font-weight: 500;
  }

  .card-item p{
      color: #fb6801;
      font-weight: 500;
      font-size: 14px;
      margin: 8px 0px;
  }

  .amount{
      font-weight: bold;
  }

  .fresh-category{
      height: 400px;
  }

  .details-btn{
      text-decoration: none;
      color: #006a4e;
      font-weight: 600;
      font-size: 13px;
      border: 1px solid #006a4e;
      padding: 3px 15px;
      margin-top: 30px;
      margin-bottom: 10px;
      cursor: pointer;
  }

  .card-extra-information{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px 0px;
  }

  .card-extra-img{
      width: 10%;
  }

  .bike{
      margin-right: -35px;
  }

  .currency-taka{
      margin-left: -35px;
  }

  .card-btn{
      border: none;
      border-radius: 3px;
      width: 100%;
      background-color: #006A4E;
      padding: 15px;
      cursor: pointer;
      margin: 0px;
      color: white;
      font-size: 16px;
      font-weight: 600;
      transition: transform 1s;
  }

  .card-btn:hover{
      transform: translateY(-2px);
  }


  .shodaiMama-categories{
      background-color: transparent;
      padding: 0px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin: 50px 0px;
      
  }

  .shodaiMama-categories h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 20px;
    color: #313131;
  }

  .shodaimama-bottom-border{
    width: 100%;
    border-bottom: 1px solid rgba(161, 160, 160, 0.644);
    margin-top: 0px;
  }

  .shodaimama-bottom-bg{
    background-color: green;
    padding: 2px 1%;
    width: 31%;
    margin-top: -2px;
  }

  .shodaimama-card-item{
      width: 219px !important;
  }

  .shodaimama-card-img{
      width: 40% !important;
      margin-top: 20px !important;
  }

  .shodaimama-card-name{
      color: #615e58 !important;
      font-size: 16px !important;
      font-weight: 400 !important;
      margin: 20px 0px !important;
  }


  .why-shodaiMama-title{
      color: #313131d1 !important;
      font-size: 18px !important;
      line-height: 22px !important;
      font-weight: 600 !important;
  }

  .why-shodaiMama-card-item{
      width: 260px !important;
      padding: 0px 10px !important;
      height: 300px !important;
  }

  .why-shodaimama-card-img{
    width: 20% !important;
    margin-top: 50px !important;
}




  